.login {
    font-size: 1.1em;
    background: #FFF;
    width: 90%;
    padding: 0.5em;
    margin: auto;
    position: relative;
    top: 1.5em;
    right: 0em;
    left: 0em;
    bottom: 0em;
}

.login .title {
    color: #06c;
    font-size: 1.5em;
    border-bottom: 0.1em solid #06C;
    margin-bottom: 1em;
}

.login .field {
    margin-bottom: 1em;
}

.login .field label {
    color: #666;
    font-size: 0.9em;
}

.login .field input {
    border: 0.1em solid #999;
    padding: 0.2em;
    width: 100%;
    color: #444;
}

.login .actions input {
    background: #FFF;
    color: #06C;
    border: 1px solid #06C;
    border-radius: 0.15em;
    box-shadow: 0em 0em 0.2em 0.05em #0073E6;
}

.login .actions button {
    background: #FFF;
    color: #06C;
    border: 1px solid #06C;
    border-radius: 0.15em;
    box-shadow: 0em 0em 0.2em 0.05em #0073E6;
}

@media (max-width: 991px) {
    .login {
        font-size: 1.1em;
        background: #FFF;
        width: 33.33333333%;
        padding: 0.5em;
        margin: auto;
        position: relative;
        top: 1.5em;
        right: 0em;
        left: 0em;
        bottom: 0em;
    }
}

@media (max-width: 768px) {
    .login {
        font-size: 1.1em;
        background: #FFF;
        width: 66.6666666%;
        padding: 0.5em;
        margin: auto;
        position: relative;
        top: 1.5em;
        right: 0em;
        left: 0em;
        bottom: 0em;
    }
}